# Runtime requirements
--requirement requirements.txt

# pyramid
pyramid-debugtoolbar==4.6.1

# Testing
pytest==5.4.1
pytest-cov==2.8.1
py==1.8.1
coveralls==2.0.0
webtest==2.0.35
mock==4.0.2
tempdir==0.7.1

# Documentation
Sphinx==3.0.3
sphinxcontrib-httpdomain==1.7.0
sphinx_rtd_theme==0.4.3

# waitress
waitress==1.1.0

# Linting
flake8==3.5.0
mccabe==0.6.1
pep8==1.7.1
pyflakes==2.0.0
