# Runtime requirements
--requirement requirements.txt

# pyramid
pyramid-debugtoolbar==4.9

# Testing
pytest==6.2.1
pytest-cov==2.10.1
tempdir==0.7.1
webtest==2.0.35

# Documentation
Sphinx==3.4.0
sphinxcontrib-httpdomain==1.7.0
sphinx_rtd_theme==0.4.3

# waitress
waitress==1.4.4

# Linting
flake8==3.8.4
