# pyramid
pyramid==1.8
pyramid_rewrite==0.2

# pairtree
git+https://github.com/benosteen/pairtree.git@56a5ffdf258c30a3ce210868a2ea1258d779509e#egg=pairtree
#pairtree==0.7.1-T
python-magic==0.4.13

venusian==1.0
webob==1.7
PasteDeploy==1.5.2

repoze.lru==0.6
zope.deprecation==4.1.1
zope.interface==4.1.1
translationstring==1.1
