# pyramid
pyramid==1.9.1
pyramid_rewrite==0.2

# pairtree
ez_setup==0.9
-git+https://github.com/benosteen/pairtree.git@56a5ffdf258c30a3ce210868a2ea1258d779509e#egg=pairtree
pairtree==0.7.1T
python-magic==0.4.15

venusian==1.1.0
webob==1.7.4
PasteDeploy==1.5.2

repoze.lru==0.7
zope.deprecation==4.3.0
zope.interface==4.4.3
translationstring==1.3
