# Runtime requirements
--requirement requirements.txt

# pyramid
pyramid-debugtoolbar==4.6.1

# Testing
pytest==5.3.5
pytest-cov==2.8.1
py==1.8.1
coveralls==1.11.1
webtest==2.0.34
mock==4.0.1
tempdir==0.7.1

# Documentation
Sphinx==2.4.3
sphinxcontrib-httpdomain==1.7.0
sphinx_rtd_theme==0.4.3

# waitress
waitress==1.4.3

# Linting
flake8==3.7.9
mccabe==0.6.1
pep8==1.7.1
pyflakes==2.0.0
